.App {
  text-align: center;
}

.Stars {
  margin: 10px auto;
}

.Comment {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  border: 1px solid black;
}

.Button {
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 140px;
  border: none;
}

.Button:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 160px;
  border: 1px solid black;
  font-weight: bold;
}